/* Reference: https: //stackoverflow.com/questions/69150928/how-to-create-multiple-themes-using-tailwind-css */


@layer base

/* add layer cascade */
    {
    html[data-theme="fallback"] {
        --color-text: 0 0 0;
        --color-background: 255 255 255;
        --color-middle: 181 181 181;
        --color-dark: 128 128 128;
    }

    html[data-theme="klar"] { 
        /* Color as rgb values */
        --color-text: 0 0 0;
        --color-background: 217 131 11;
        --color-middle: 218 132 11;
        --color-dark: 191 112 0;
    }




}