/* Reference: https://stackoverflow.com/questions/69150928/how-to-create-multiple-themes-using-tailwind-css */
@layer theme {
    [data-theme="fallback"] {
        --color-text: rgb(242, 242, 242);
        --color-background: rgb(26, 26, 26);
        --color-middle: rgb(89, 89, 89);
        --color-dark: rgb(51, 51, 51);
        --color-text2: rgb(242, 242, 242);
    }

    [data-theme="klar"] {
        --color-text: rgb(242, 242, 242);
        --color-background: rgb(255, 181, 77);
        --color-middle: rgb(217, 132, 11);
        --color-dark: rgb(191, 112, 0);
        --color-text2: rgb(242, 242, 242);
    }

    [data-theme="nacht"] {
        --color-text: rgb(242, 242, 242);
        --color-background: rgb(9, 9, 26);
        --color-middle: rgb(27, 27, 77);
        --color-dark: rgb(18, 18, 51);
        --color-text2: rgb(242, 242, 242);
    }

    [data-theme="wulche"] {
        --color-text: rgb(242, 242, 242);
        --color-background: rgb(163, 180, 204);
        --color-middle: rgb(99, 122, 153);
        --color-dark: rgb(75, 91, 115);
        --color-text2: rgb(242, 242, 242);
    }

    [data-theme="näbu"] {
        --color-text: rgb(242, 242, 242);
        --color-background: rgb(170, 177, 178);
        --color-middle: rgb(85, 88, 89);
        --color-dark: rgb(61, 63, 64);
        --color-text2: rgb(242, 242, 242);
    }

    [data-theme="nisu"] {
        --color-text: rgb(242, 242, 242);
        --color-background: rgb(172, 191, 185);
        --color-middle: rgb(76, 89, 85);
        --color-dark: rgb(54, 64, 61);
        --color-text2: rgb(242, 242, 242);
    }

    [data-theme="räge"] {
        --color-text: rgb(242, 242, 242);
        --color-background: rgb(89, 108, 128);
        --color-middle: rgb(46, 61, 77);
        --color-dark: rgb(41, 53, 64);
        --color-text2: rgb(242, 242, 242);
    }

    [data-theme="schnee"] {
        --color-text: rgb(26, 26, 26);
        --color-background: rgb(218, 224, 229);
        --color-middle: rgb(184, 200, 217);
        --color-dark: rgb(153, 172, 191);
        --color-text2: rgb(242, 242, 242);
    }

    [data-theme="sturm"] {
        --color-text: rgb(242, 242, 242);
        --color-background: rgb(17, 15, 26);
        --color-middle: rgb(61, 54, 77);
        --color-dark: rgb(37, 31, 51);
        --color-text2: rgb(242, 242, 242);
    }

    [data-theme="fireplace"] {
        --color-text: rgb(242, 242, 242);
        --color-background: rgb(26, 4, 0);
        --color-middle: rgb(115, 29, 11);
        --color-dark: rgb(77, 16, 4);
        --color-text2: rgb(242, 242, 242);
    }

    [data-theme="joel"] {
        --color-text: rgb(242, 242, 242);
        --color-background: rgb(255, 190, 70);
        --color-middle: rgb(59, 140, 233);
        --color-dark: rgb(130, 1, 1);
        --color-text2: rgb(242, 242, 242);
    }

    [data-theme="stpatrick"] {
        --color-text: rgb(242, 242, 242);
        --color-background: rgb(15, 124, 52);
        --color-middle: rgb(179, 211, 162);
        --color-dark: rgb(108, 172, 87);
        --color-text2: rgb(242, 242, 242);
    }

}